# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/portfolio-images/aerial-reverie/aerial-reverie.mp4
src/portfolio-images/aerial-reverie/AR-clip-spirals-start.gif
src/portfolio-images/aerial-reverie/AR-clip-spiraling.gif
src/portfolio-images/aerial-reverie/AR-clip-after-intro.gif
src/portfolio-images/aerial-reverie/AR-clip-intro.gif

src/portfolio-images/kinetic-pixels/mp4/china_ca.mp4
src/portfolio-images/kinetic-pixels/mp4/china_drone_sim.mp4
src/portfolio-images/kinetic-pixels/mp4/india_ca.mp4
src/portfolio-images/kinetic-pixels/mp4/india_drone_sim.mp4
src/portfolio-images/kinetic-pixels/mp4/iran_ca.mp4
src/portfolio-images/kinetic-pixels/mp4/iran_drone_sim.mp4
src/portfolio-images/kinetic-pixels/mp4/mexico_ca.mp4
src/portfolio-images/kinetic-pixels/mp4/mexico_drone_sim.mp4
src/portfolio-images/kinetic-pixels/mp4/morocco_ca.mp4
src/portfolio-images/kinetic-pixels/mp4/morocco_drone_sim.mp4
src/portfolio-images/kinetic-pixels/mp4/portugal_ca.mp4
src/portfolio-images/kinetic-pixels/mp4/portugal_drone_sim.mp4
src/portfolio-images/kinetic-pixels/mp4/spain_ca.mp4
src/portfolio-images/kinetic-pixels/mp4/spain_drone_sim.mp4
src/portfolio-images/kinetic-pixels/mp4/turkey_ca.mp4
src/portfolio-images/kinetic-pixels/mp4/turkey_drone_sim.mp4
