html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

.font-jersey-25 {
  font-family: "Jersey 25", sans-serif;
  letter-spacing: 0.06em;
}

.font-jersey-10 {
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 0.06em;
}

.font-argent-italic {
  font-family: "argent-pixel-cf", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.font-argent-normal {
  font-family: "argent-pixel-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.text-slab {
  background: rgba(0, 0, 0, 0.7);

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  border-radius: 5px;

  box-shadow:
    inset 0 0 12px rgba(0, 0, 0, 0.5),   /* soft inner fade */
    0 0 18px rgba(0, 0, 0, 0.45),        /* primary outer glow */
    0 0 36px rgba(0, 0, 0, 0.25);        /* extended falloff */
}
